<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cemex.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Cemex.My.MySettings>
            <setting name="T_1" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_2" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_3" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_4" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_5" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_6" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_7" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_8" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_9" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_10" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_11" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="T_12" serializeAs="String">
                <value>Reader</value>
            </setting>
            <setting name="C_1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_3" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_4" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_5" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_6" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_7" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_8" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_9" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_10" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_11" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="C_12" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="m_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_7" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_9" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_10" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_11" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_12" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="b_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_12" serializeAs="String">
                <value>0</value>
            </setting>
        </Cemex.My.MySettings>
    </userSettings>
</configuration>